@using FrequentSubtreeMining.WebUI.ViewModels;

@model  MiningViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Поиск частых подграфов в XML-документах</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <div class="panel-success"> 
        <div class="panel-heading text-center">
            <h4>Параметры поиска</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <p>Минимальное число узлов: @Html.TextBoxFor(x => x.MinimumNodeNumber, new { @class = "form-control" })</p>
                </div>
                <div class="form-group">
                    <p>Максимальное число узлов: @Html.TextBoxFor(x => x.MaximumNodeNumber, new { @class = "form-control" })</p>
                </div>
                <div class="form-group">
                    <p>Минимальная поддержка: @Html.TextBoxFor(x => x.Support, new { @class = "form-control" })</p>
                </div>
                <div class="form-group">
                    <p>Имя файла: @Html.TextBoxFor(x => x.FileName, new { @class = "form-control", @id = "fileName" })</p>
                </div>
                <div class="text-center">
                    <input type="submit" value="Поиск" class="btn btn-success" />
                </div>
            }
        </div>
    </div>

@*@using (Html.BeginForm("Upload1", "Mining", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input id="fileInput" name="fileInput" type="file" size="50" onchange="processFiles(this.files)">
    <input type="submit" value="Загрузить" />
    <textarea id="fileOutput"></textarea>
}*@

    <div>
        <input type="file" name="upload" id="uploadFile" /><br />
        <button id="submit">Загрузить</button>
        <textarea id="fileOutput"></textarea>
    </div>

        <script>
    $('#submit').on('click', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < 1; x++) {
                    var file = files[x];
                    data.append("file" + x, file);
                    //var reader = new FileReader();
                    //reader.onload = function (e) {
                    //    var output = document.getElementById("fileOutput");
                    //    output.value = e.target.result;
                    //};
                    //reader.readAsText(file);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "Mining")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        document.getElementById("fileName").value = result.fileName;
                        document.getElementById("fileOutput").value = result.textContent;
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });
        </script>




    <script>
        function processFiles(files)
        {
            var file = files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var output = document.getElementById("fileOutput");
                output.value = e.target.result;
            };
            reader.readAsText(file);

            @*$.ajax({
                url: '@Url.Action("Upload", "Mining")',
                type: 'POST',
                data: files,
                contentType: false,
                processData: false,
                success: function (data) {
                    document.getElementById("fileName").innerText = data.value;
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });*@
        }
    </script>
</body>
</html>
